*, ::before, ::after {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.container {
    width: 100%;
    height: 100%;
    background-color: beige;

    /* Flexbox */
    display:flex;
    flex-wrap: wrap;  
}

header {
    width: 100%;
    height: 160px;
    background-color: rgb(207, 223, 207); 
    display: flex;
    justify-content: space-between;
    align-items: center;
    
    /* position: fixed;
    top: 0;
    overflow: hidden; */
} 

header div {
    padding: 30px;
}

h1 {
    color: black;
    text-align: center;  
}

main {
    /* margin-top: 170px; */
    width: 100%;
    display: flex;
    flex-direction: column;
}

.grandVisuel_picture {
    position: relative;
    width: 100%;
    height: auto;
}

.btnReserver {
    position: absolute; 
    width: 200px;
    top: 55%;
    left:50%; 
    background-color: #425961;  
    font-size: 35px;
    font-weight: bold;
    color: white;
    padding: 5px;
    border-radius: 10px;
    text-decoration: none;  
    text-align: center;
    transform: translate(-50%);
     
}

.aPropos, .nosExterieurs, .nosCoordonnees {
    border: 5px solid black;
    /* padding: 15px 0 0 0; */
    width: 100%;
    /* height : 535px; */
    display: flex;
    justify-content: center;
    align-items: flex-start;
    margin-top: 20px;
}

.aPropos div:nth-child(1), .nosExterieurs div:nth-child(2),
.nosCoordonnees div:nth-child(1)
{
    height : 535px;
    display: flex;
    flex-direction: column;
    border: 2px solid rgb(247, 3, 3);
    justify-content: space-around;
}

.aPropos h2, .nosExterieurs h2, .nosCoordonnees h2 
{
    border: 2px solid black;
    padding: 20px;
    width: 100%;
}

.aPropos p, .nosExterieurs p, .nosCoordonnees p 
{
    border: 2px solid black;    
    width: 60%;
    padding: 20px;    
    align-self: center;
}

.aPropos img, .nosExterieurs img, .nosCoordonnees img 
{
    border: 2px solid black;
    /* height: auto; */
    /* width: 945px; */
    height: 535px;
    /* object-fit: cover; */
}   

footer {
    width: 100%;
    height: 170px;
    background-color: rgb(207, 223, 207); 
    display: flex;
    justify-content: space-between;
    align-items: center;
}

footer div {
    display: flex;
    flex-direction: column;
    padding: 25px;
    font-size: 1.5rem;
}

footer div a {
    padding: 15px;
}


/* footer button {
    width: auto;
    height: 50px;
    background-color: aqua;
    margin: 20px;
    padding: 10px;
} */

footer img {
    width: 70px;
    height: auto;
}