/* html {
box-sizing: border-box;
} */

*, ::before, ::after {
    /* box-sizing: border-box; */
    padding: 0;
    margin: 0;
}

.container {
    width: 100%;
    height: 100%;
    background-color: beige;

    /* Flexbox */
    display:flex;
    flex-wrap: wrap;
   
}

header {
    width: 100%;
    height: 160px;
    background-color: rgb(207, 223, 207); 
    display: flex;
    align-items:center;
    /* position: fixed;
    top: 0;
    overflow: hidden; */
}

header div {
    padding: 50px;
}

h1 {
    color: black;
    border: 2px solid black;
    padding: 10px; 
    width: 70%;
    text-align: center;  
}

nav {
    width: 100%;
}

/* ul {
    display: flex;
} */
main {
    /* margin-top: 170px; */
}

.grandVisuel_picture {
    position: relative;
}

.btnReserver {
    position: absolute; 
    top: 1000px;
    left:50%;    
}

button {
    background-color: rgb(127, 255, 159);
  
    font-size: 25px;
    padding: 10px;
    border-radius: 10px; 
}

.grandVisuel_picture {
    width: 100%;
    height: auto;
}

.aPropos {
    border: 2px solid black;
    padding: 15px 0 0 0;
    width: auto;
    height : 535px;
    display: flex;
    justify-content: center;
}

.aPropos h2 {
    border: 2px solid black;
    /* margin: 0 0 0 50px; */
    padding: 20px;
    width: 100%;
}

.aPropos p {
    border: 2px solid black;    
    width: 70%;
    height: auto;
    padding: 20px;
    margin:50px;
}

.aPropos img {
    border: 2px solid black;
    height: auto;
    width: 945px;
    /* object-fit: cover; */
}   

.nosExterieurs {
    border: 2px solid black;
    padding: 15px 0 0 0;
    width: 100%;
    height : 535px;
    display: flex;
    justify-content: space-evenly;
}

.nosExterieurs h2 {
    border: 2px solid black;
    padding: 20px;
}

.nosExterieurs p {
    border: 2px solid black;
    margin: 50px;
    padding: 20px;
    width: 70%;
    height: auto;
}

.nosExterieurs img {
    border: 2px solid black;
    height: auto;
    width: 945px;
}   

.nosCoordonnees {
    border: 2px solid black;
    padding: 15px 0 0 0;
    width: auto;
    height : 535px;
    display: flex;
    justify-content:space-evenly;
}

.nosCoordonnees h2 {
    border: 2px solid black;
    padding: 20px;
}
.nosCoordonnees p {
    border: 2px solid black;
    width: 70%;
    height: auto;
    margin: 50px;
    padding: 20px;
}

.nosCoordonnees img {
    border: 2px solid black;
    height: 530px;
    width: 945px;
}   

footer {
    width: 100%;
    height: 170px;
    background-color: rgb(207, 223, 207); 
    display: flex;
    justify-content: space-between;
    align-items: center;
}

footer div {
    display: flex;
    flex-direction: column;
    padding: 25px;
    font-size: 1.5rem;
}

footer div a {
    padding: 15px;
}


/* footer button {
    width: auto;
    height: 50px;
    background-color: aqua;
    margin: 20px;
    padding: 10px;
} */

footer img {
    width: 70px;
    height: auto;
}